# fest
fest.save
list.txt

# autotools
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
configure.scan
configure~
depcomp
install-sh
makefile
missing

# lsp
/.cache
compile_commands.json
